    <footer>
        Made by William V. / Potetrompe
    </footer>

        
        <!-- //? include JS-script -->
        <script type="text/javascript"><% include script %></script>

</body>
</html>