<html>
<head>
    <meta charset="UTF-8">
    <title>Shoppinglist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400, 700" rel="stylesheet">
    <link rel="stylesheet" href="./assets/main.css" type="text/css">
    <link rel="shortcut icon" type="image/ico" href="./assets/media/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./main.js"></script>
</head>
<body>
    <header>
        <img id="logo" src="./assets/media/ICON.svg" alt="Logo">
        <h1>Shoppinglist</h1>
        
        <nav>
            <ul> 
                <li><a href=<%= navHref1%>><%= navHTML1%></a></li>
                <li><a href=<%= navHref2%>><%= navHTML2%></a></li>
            </ul>
        </nav> 
    </header>
