<html>
<head>
    <meta charset="UTF-8">
    <title>Shoppinglist</title>
    <link rel="stylesheet" href="./assets/main.css" type="text/css">
    <link rel="shortcut icon" type="image/ico" href="./assets/media/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./main.js"></script>
</head>
<body>
    <header>
        <h1 class="font-effect-anaglyph">Shopping list</h1>
    </header>

    <nav>
        <ul> 
            <!-- //* same length names: (looks better) -->
            <li><a href="#">Groups</a></li>
            <li><a href="#">Login</a></li>
            
        </ul>
    </nav> 