<% let navHTML1 = "Home", navHTML2 = "Login", navHref1 = "./", navHref2 = "./users" %>
<% include inc/header%>

<div class="container">

    Groups <br> 

    something = <%= something %>

</div>

<% include inc/footer%>