<% let navHTML1 = "Groups", navHTML2 = "Login", navHref1 = "./groups", navHref2 = "./users" %>
<% include inc/header%>

<div class="container">
    <div id="feed">
        <table>
            <tr>
                <th>What?</th>
                <th>Who?</th>
            </tr>
        </table>
        <a id="btnDelete" href="#">Delete Selected</a>

    </div>


    <form action="./" method="POST" id="formPOST">
        <input type="text" name="item" placeholder="Add to list" required>
        <button type="submit">Add item</button>
    </form>

    <!--
    <form action="./" method="DELETE" id="formDELETE">
        <input type="text" id="deleteField" name="item" placeholder="delete" required>
        <button type="submit" class="deleteItem">Delete item</button>
    </form> 
    -->
</div>

    <script type="text/javascript"><% include ./inc/script %></script>

<% include inc/footer%>