<html>
<head>
    <meta charset="UTF-8">
    <title>Shoppinglist</title>
    <link rel="stylesheet" href="./assets/main.css" type="text/css">
    <link rel="shortcut icon" type="image/ico" href="./assets/media/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./main.js"></script>
</head>
<body>
    <h3>Shoppinglist</h3>
    <div id="shoppinglist-table"></div>

    <form action="./" method="POST">
        <input type="text" name="item" placeholder="Add to list" required>
        <button type="submit">Add item</button>
    </form>

    <ul>
        <% for(var i = 0; i < shoppinglist.length; i++){ %>
            <li><%= shoppinglist[i].item %></li>
        <% } %>
    </ul>


    <form action="./" method="DELETE">
        <input type="text" id="deleteField" name="item" placeholder="delete" required>
        <button type="submit" class="deleteItem">Delete item</button>
    </form>

    <form action="./" method="PUT">
        <input type="numeric" name="id" placeholder="put" required>
        <button type="submit">put item</button>
    </form>

</body>
</html>