<% let navHTML1 = "Groups", navHTML2 = "Login/out", navHref1 = "./groups", navHref2 = "./users" %>
<% include inc/header%>

<div class="container">
    <div id="feed">
        <table>
            <tr>
                <th>Item</th>
                <th>Author</th>
            </tr>
        </table>
        <a id="btnDelete" href="#">Delete Selected</a>

    </div>

    <!-- String manipulation here :vv: -->
    <form action="./" method="POST" id="formPOST">
        <input type="text" name="item" placeholder="Add to list" required>
        <input type="hidden" id="formGroupName" name="group" value="unset">
        <button type="submit">Add item</button>
    </form>

    
</div>

<div id="icons">

    <h2>Common items</h2>    
    <ul id="iconmenu">
    </ul>

</div>

<div id="groupSelect">

    <h2>Groups</h2>    
    <ul id="groupMenu">
    </ul>

</div>

    <script type="text/javascript"><% include ./inc/script %></script>

<% include inc/footer%>