<% include inc/header%>

    <div id="feed">
        <table>
            <tr>
                <th>What?</th>
                <th>Who?</th>
            </tr>
            <tr>
                <td>This</td>
                <td>That</td>
            </tr>
            <tr>
                <td>Tipp</td>
                <td>Topp</td>
            </tr>
            <tr>
                <td>Tapp</td>
                <td>Tupp</td>
            </tr>
        </table>

    </div>

    <a id="btnDelete" href="#">
        Delete Selected
    </a>


    <form action="./" method="POST" id="formPOST">
        <input type="text" name="item" placeholder="Add to list" required>
        <button type="submit">Add item</button>
    </form>


    <form action="./" method="DELETE" id="formDELETE">
        <input type="text" id="deleteField" name="item" placeholder="delete" required>
        <button type="submit" class="deleteItem">Delete item</button>
    </form>



<% include inc/footer%>