//-----Fonts-----//
    @import url(https://fonts.googleapis.com/css?family=Oswald|Montserrat:400,400i,700,700i&effect=anaglyph|fire-animation);
    // class="font-effect-fire-animation" OR class="font-effect-anaglyph"
    $mainFont: 'Montserrat';
    $H1Font:   'Roboto', sans-serif;
    $altFont:  'Oswald';
//-----Colors-----//
    $BG1: #282828; 
    $BG2: #ec0;
    $BG3: #0005;
    $BG4: #eecc00; //* header
    $BG5: #f00;

    $COL1: #fff;

//-----Modifyer class-----//
.warning{
    color: #f00;
    background: #fff;
    border: 2px dashed red;
    padding: .5em;
    border-radius: 10px;
}

//-----Style-----//
@media screen and (min-width : 320px){    
    body{
        background: $BG1;
        color: $BG1;
        font-size: .5em;
        font-family: $H1Font;

        width: 100%;//960px;
        margin: 0;//1em 20px;

        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 22px; // 15 eller auto
        
        // overflow-x: hidden;
        // overflow-y: hidden;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    header{
        //padding: .5em;
        background: $BG4;
        color: $BG1;
        text-align: center;

        grid-column: span 1;
        grid-row: 1/2;

        display: grid;
        grid-gap: 0;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto; //fungerer bedre uten??

        a{
            grid-column: 1 / span 1;
            grid-row: 1 / 3;

            img#logo{
                height: 6em;
                // grid-column: 1 / span 1;
                // grid-row: 1 / 3;
                margin: 1em;
    
                transition: transform 75ms;
            }
            img#logo:hover{
                transform: scale(1.2);
                cursor: pointer;
            }
        }

        h1{
            font-size: 4em;
            margin: 0;
            text-align: left;
        }

        nav{
            padding: 0;
            margin: 0;
            height: auto;
    
            grid-column: 2 / span 1;
            grid-row: 2 /span 1;

            ul{
                padding: 0;
                margin: 0;
                list-style-type: none;
    
                display:flex;
                flex-direction: row;
                justify-content: left;
                li{
                    flex-grow: 0.1;
                    padding: 0;
                    margin:  0 1em 0.4em 0;
                    text-align: center;
    
                    display: inherit;
                    flex-direction: column;
                    justify-content: center;
                    
                    a{
                        text-decoration: none;
                        padding: .75em;
                        border: 2px solid $BG1;
                        border-radius: 3px;
                        background: $BG1;
                        color: $BG4;
                        font-size: 1em;
                    }
                    a:hover{
                        background: $BG4;
                        color: $BG1;
                    }
                }
                
            }
        }
    }

    div.container{
        // margin: 1em 20px; // made a scroll-bug
        margin: 0 auto;

        color: white;
        div#feed{
            grid-column: span 1;
            grid-row: 3/4;
    
            table{
                font-size: 1.5em;
                padding: 0.5em;
    
                background: $BG1;
                color: $BG1;
                width: 100%;
                border-radius: 5px;
    
                tr{
                    display: flex;
                    flex-direction: row;
                    border: 1px solid $BG1;
                    padding: 0.5em;
                    border-radius: 5px;
                    cursor: pointer;
                    // background-color: #0005 !important;

                    th, td{
                        text-align: start; //* usikker
                        width: 20%; // 20% before flex grow
                        word-wrap: break-word;
                    }
                    th:nth-of-type(1), td:nth-of-type(1){
                        flex-grow: 4;
                        // width: 66%;
                    }
                    th:nth-of-type(2), td:nth-of-type(2){
                        flex-grow: 1;
                        // width: 34%;
                    }
                }
                tr:nth-of-type(1){
                    background: $BG2;
                    
                    th{
                        font-weight: 700 !important; //doesnt work :/
                        font-size: 1.55em; //same height as h2 at icons
                    }
                }
                tr.trActive{
                    //border: 2px solid red;
                    background: #f005 !important;
                    color: $COL1 !important;
                    text-decoration: line-through;
                }
            }
    
        }
    
        //| Delete selected - button
        a#btnDelete{
            text-decoration: none;
            background: $BG1;
            color: $BG2;
            border: 2px solid $BG1;
            border-radius: 5px;
            border-color: $BG5;
            font-size: 1.5em;
            padding: 1em;
    
            writing-mode: vertical-rl;
            text-orientation: mixed;
            line-height: 0;
    
            width: 0px;
            height: auto;
    
            visibility: hidden;
    
            position: fixed;
            top: 1em;
            right: 2em;

        }
        a#btnDelete:hover{
            background: $BG2;
            color: $BG1;
        }
    
        //* Style for forms
        div#createGroupForm, div.userForm, form#formPOST, #logoutForm{
    
            // height: 250px;
            // width:  100%;
            padding: 0 1em;
            display: flex;
            flex-direction: row;
            
            input, button{
                -webkit-appearance: none;
                box-shadow: none !important; 
                outline: none;
                font-size: 2em;
                background:$BG1; //#fff;
                border: 2px solid $BG2;
                border-radius: 5px;
                padding: .1em .4em;
                //margin: 0 0 .5em 0;

                width: 20%;
            }
            input{
                flex-grow: 4;
                margin-right: .5em;
            }
            button{
                flex-grow: 1;
            }
            input::placeholder, input { color: $BG2; }
            
            input::placeholder{
                font-size: .8em;
                color: #ec0a;
            }

            button{
                cursor: pointer;
                background: $BG2;
                // border-color: $BG2;
                color: #000;//$BG1;
            }
            button:hover, button:focus{
                border-color: $BG2;
                background: $BG1;
                color: $BG2;
            }

        }
        div#createGroupForm, div#loginForm{
            display: block;

            form{
                display: flex;
                flex-direction: column;

                input{
                    width: 100%;
                }
            }
        }
        div#registerForm{
            display: none;

            form{
                display: flex;
                flex-direction: column;

                input{
                    width: 100%;
                }
            }
        }
        div.userForm button{
            -webkit-appearance: none;
            box-shadow: none !important; 
            outline: none;
            width: 50%;
            font-size: 1.5em;
            background: $BG2;
            color: $BG1;
            border: 3px solid $BG1;
            padding: 10px 20px;
        }
        div#createGroupForm{
            padding: 0;
            button{
                padding: 0em;
                margin-top: -.5em;
                width: 30%;
            }
        }
        
        
        div#groupsForm table, div#groupRequestsTable table{

            background: $BG2;
            //border: 2px solid #fff;
            border-radius: 5px;
            width: 100%;

            padding: .5em .2em;
            margin-top: -.6em;
            th{
                padding: 0 1em;
                font-size: .7em;
                text-align: left;
            }
            td{
                padding: 0 0 0 1em;
                font-size: .7em;

                select, button{
                    background: $BG2;
                    color: $BG1;
                    //-webkit-appearance: none;
                    box-shadow: none !important; 
                    outline: none;
                    font-size: .7em;
                    // background:$BG1; //#fff;
                    border: 2px solid $BG1;
                    border-radius: 3px;
                    padding: .1em .4em;
                    margin: .1em 0;
                    cursor: pointer;
                }
                select{
                    width: 100%;
                }
                form{
                    margin: 0;
                }
                input{
                    background: $BG2;
                    color: $BG1;
                    font-size: .7em;
                    border: 2px solid $BG1;
                    border-radius: 3px;
                    width: 70%;
                    padding: .1em .3em;
                    color: $BG1;
                }
                    button:hover, button:focus{
                    background: $BG1;
                    color: $BG2;
                }
            }
            td:nth-of-type(1){
                border-radius: 5px;
                border: 2px solid $BG1;
                background: $BG1; //* Is overwritten in group.ejs by DB
                color: $COL1;
            }

        }
    }

    div#icons{
        color: #f00;//$BG1;//$COL1;

        //padding: 0 1em;
        margin: .8em;
        h2{
            padding: .5em 1em;
            margin: 0;
            border: 2px solid $BG1;
            border-radius: 5px;
            background: $BG2;
            color: $BG1;

            font-size: 2em;

        }
        ul#iconmenu{
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin: .5em 0 0 0;
            padding: 0;

            background: #fff3;
            border: 2px solid $BG1;
            border-radius: 5px;

            //max-width: 400px;

            li{
                cursor: pointer;
                padding: .5em;

                img{
                    width:  75px;
                    height: 75px;
                }
            }
            li:hover{
                background: #fff3;//#0002;
                border-radius: 5px;
            }
        }
    }

    footer{
        padding: .5em;
        background: $BG3;
        color: $COL1;
        
        text-align: center;

        grid-column: span 1;
        grid-row: span 1;
    }
    
}
@media screen and (min-width : 700px){ 
    //* Split screen, list + icons of wares
    body{
        //width: 960px;
        margin: 0;//1em auto;
        font-size: .75em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 30px;


        header, nav, footer{
            grid-column: 1/3;
        }

        header{

            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h1{
                justify-content: center;
                font-size: 6.2em;
            }

            nav{
                width: 20%;
                margin: 1em;
                ul{
                    height: 100%;

                    flex-direction: column;
                    li{
                        margin: 0 0 .2em 0;

                        a{

                        }
                        width: 100%;
                    }
                }
            }
        }

        div.container{
            grid-column: 2/3;

            a#btnDelete{
                top: 7em;
            }
        }
        
        div#icons{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

    }
}
@media screen and (min-width : 1280px){
    body{
        //width: 1220px; //1280-(1020-960)px
        grid-template-columns: 1fr 1fr 1fr;

        //background: red;
        header, nav, footer{
            grid-column: 1/4;
        }
        div.container{
            grid-column: 2 / 3;

            
            div#groupsForm table, div#groupRequestsTable table{
                th{
                    font-size: 1em;
                }
                td{
                    font-size: 1em;
                }
            }
        }
        
    }
}
/*@media screen and (max-width : 520px){
    body{
        display: flex;
        flex-direction: column;

        background: $altBGCol;
        nav{
            background: $altBGCol;
            ul{
                display: flex;
                flex-direction: row;

                list-style: none;
                padding: 0;
                margin: 0;

                li{
                    flex-grow: 1;
                    a{
                        display: inherit;
                        flex-grow: inherit;
                        padding: 1em;
                        text-decoration: none;
                        color: $mainTxtCol;
    
                    }
                    a:hover{
                        background: $lastBGCol;
                    }
                }
            }

        }
    }
}*/